[NetDev]
Name=wg-peer{{ peer_network_id }}
Kind=wireguard

[WireGuard]
PrivateKey={{ host_private_key }}
ListenPort={{ host_listen_port }}
RouteTable=off

[WireGuardPeer]
PublicKey={{ peer_public_key }}
AllowedIPs=0.0.0.0/0, ::/0
PersistentKeepalive=30
Endpoint={{ peer_public_ip }}:{{ peer_listen_port }}
